src/oculawince/opencv_wince/
src/oculawince/DLL/Windows Mobile 6 Professional SDK (ARMV4I)/
src/oculawince/CameraCaptureDLL/Windows Mobile 5.0 Pocket PC SDK (ARMV4I)/
src/oculawince/CameraCaptureDLL/Windows Mobile 5.0 Smartphone SDK (ARMV4I)/
src/oculawince/CameraCaptureDLL/Windows Mobile 6 Professional SDK (ARMV4I)/
src/oculawince/ocula/bin/
src/oculawince/ocula/obj/
src/android/libs/
src/android/bin/

